@import "colors-main.scss";

.commento-login {
  width: 100%;

  .commento-login-text {
    text-align: right;
    margin-right: 16px;
    height: 38px;
    color: $gray-6;
    font-weight: bold;
    cursor: pointer;
    display: block;
  }
}


.commento-get-comments-button {
  background: #1971c2;
  text-transform: uppercase;
  font-size: 12px;
}

.commento-withdraw-button {
  background: #1971c2;
  text-transform: uppercase;
  font-size: 12px;
}

.commento-loggedin-details {
  display: block;
  height: 46px;
}
.commento-comments-purchase {
  display: block;
  color: rgb(5, 4, 4);
  font-size: 16px;
  font-weight: 700;
  margin-left: 94px;
  margin-right: 94px;
  border: dotted;
  height: 116px;
}
.commento-comments-dashboardUpperBox {
  display: block;
  color: rgb(5, 4, 4);
  font-size: 16px;
  font-weight: 700;
  height: 94px;
}

.commento-wrapper-deposit {
  display: block;
  float: left;

}
.commento-button-wrapper {
  display: block;

}

.commento-comments-dashboardUpperBoxBalance {
  display: inline-block;
  color: rgb(5, 4, 4);
  font-size: 16px;
  font-weight: 700;
}

.commento-comments-dashboardUpperBoxBalanceTitle {
  display: inline-block;
  color:  #495057;
  font-weight: 700;
  padding-top: 22px;
  padding-left:100px;
  font-size: 13px;
  font-family: sans-serif;
}

.commento-comments-dashboardUpperBoxBalanceValue {
  display: block;
  color: rgb(5, 4, 4);
  font-size: 16px;
  font-weight: 700;
  padding-left: 100px;
}

.commento-comments-dashboardUpperBoxControl {
  display: inline-block;
  color: rgb(5, 4, 4);
  font-size: 16px;
  font-weight: 700;

  float: right;
}

.commento-comments-dashboardAddressBox {
  display: block;
  color:#495057;
  font-size: 13px;
  font-weight: 700;
  padding-left: 16px;
  font-family: monospace;
}

.commento-comments-depositAmount {
  display: block;
  color: rgb(5, 4, 4);
  font-size: 16px;
  font-weight: 700;
}

.commento-comments-depositText {
  display: inline-block;
  color: rgb(5, 4, 4);
  font-size: 16px;
  font-weight: 700;
  position: relative;
  top: -8px;
  padding-left: 8px;
}

.commento-comments-depositInput {
  display: block;
  color: rgb(5, 4, 4);
  font-size: 16px;
  font-weight: 700;
  height: 48px;
}

.commento-logged-container {
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
  position: relative;


  .commento-profile-button {
    float: right;
    cursor: pointer;
    color: $gray-6;
    margin: 6px 12px;
    font-size: 13px;
  }

  .commento-logged-in-as {
    position: relative;

    .commento-name {
      color: $gray-8;
      border: none;
      font-weight: bold;
      position: absolute;
      top: 6px;
      left: 48px;
      cursor: pointer;
    }
  }
}
